.DS_Store
server/test/*
*.log
htdocs/*
htdocs/php/*
htdocs/go/*
htdocs/python/*
htdocs/java/*
dump.rdb
other/*
logs/web-logs/*
data/mongodb/*
fastcgi_param/*
data/*
htdocs/Project/*
htdocs/technical-summary/*
technical-summary
htdocs/web/*
server/nginx/nginx-1.21.0/fastcgi_param_mysql
server/nginx/nginx-1.21.0/conf.d/*
.idea/*
